.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav__left__logo {
    width: 80px;
    object-fit: contain;
}

.nav__right {
    display: flex;
    margin-right: 20px;
}

.nav__right__search input {
    background-color: transparent;
    border: 2px solid#22254b;
    border-radius: 50px;
    color: #7378c5;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    align-items: center;
    margin-right: 10px;
}

.nav__right__search input:focus {
    background-color: white;
    color: black;
    outline: none;
}

.nav__right__avatar {
    width: 30px;
    object-fit: contain;
}

.nav__black {
    background-color: #111;
}